*{
  padding: 0;
  margin: 0;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  height: 11vh;
  position: fixed;
  width: 100%;
  background-color: ghostwhite;
  box-shadow: 1px 5px lightgrey
}

.home-link{
  text-decoration: none;
  margin-left: 5%;
  color:brown;
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;

}

{/*css for each recipe card in the list*/}

.recipe-card{
  width:24%;
  height:50vh;
  border:solid lightgrey;
  border-radius: 4%;
  margin:3%;
}




@media screen and (max-width:900px){
  .recipe-card{
    width: 30%;
  }
}

@media screen and (max-width:700px)
{
  .recipe-card{
    width: 60%
  }
}

/* @media screen and (min-width:320px) and (max-width:450px){
  .rest-profile{
    width: 50%;
  }
} */

@media screen and (min-width:500px) and (max-width:699px){
  .rest-profile{
    width: 10%;
  }
}
